.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    
  }
  
  .button-home {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }
  
  .search-input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
  }
  
  .search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .topics-nav {
    margin-top: 16px;
  }
  
  .topics-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .topic-item {
    color: #007bff;
    cursor: pointer;
  }
  