
.photo-card-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  .photo-card-container:hover {
    transform: translateY(-5px); /* Slight lift on hover */
}
  
  .photo-card-card-container {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .photo-card-card-article {
    position: relative;
  }
  
  .photo-card-card-img {
    width: 1000px;
    height: 600px; 
    object-fit: cover;
  }
  
  .photo-card-button-group {
    display: flex;
    margin-left: 10px ;
  }
  
  .photo-card-card-button {
    background-color: white;
    padding: 0.5rem;
    border-radius: 9999px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .photo-card-heart-button {
    color: red;
  }
  
  .photo-card-plus-button {
    color: gray;
  }
  
  .photo-card-card-button:hover {
    color: white;
  }
  
  .photo-card-card-button:hover.photo-card-heart-button {
    background-color: red;
  }
  
  .photo-card-card-button:hover.photo-card-plus-button {
    background-color: gray;
  }
  
  .photo-card-card-data {
    padding: 1rem;
  }
  
  .photo-card-card-description {
    display: block;
    color: gray;
    margin-top: 0.5rem;
  }
  
  .photo-card-card-title {
    font-size: 1.125rem;
    font-weight: bold;
    color: gray;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .photo-card-card-button {
    display: inline-block;
    margin-top: 1rem;
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    text-align: center;
    text-decoration: none;
  }
  
  .photo-card-card-button:hover {
    background-color: darkblue;
  }
  