.photo-topic-container {
    padding: 16px;
    align-items: end;
  }

  .photo-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
  }
  
  .photo-topic-text {
    max-width: 70%; 
    padding-bottom: 30px;
    padding-left: 30px;
  }
  
  .photo-topic-text h1 {
    font-size: 2.5rem; 
    color: #333; 
    margin-bottom: 10px;
  }
  
  .photo-topic-text h2 {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  .photo-topic-text h3 {
    font-size: 1rem;
    color: #777;
  }
  
  .top-contributors {
    max-width: 35%; 
    background-color: #fff; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
  }

  .top-contributors li{
    cursor: pointer;
  }
  
  .top-contributors h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd; 
    padding-bottom: 10px;
  }
  
  .top-contributors ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .top-contributors li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .top-contributors img {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #007bff; 
  }
  
  .top-contributors h2 {
    font-size: 1.1rem;
    margin: 0;
    color: #555;
  }

  .top-contributors-text h3 {
    font-size: 0.7rem;
    margin: 0;
    color: #555;
  }
  
  .top-contributors h2:first-child {
    font-weight: bold;
    color: #333;
  }
  
  .top-contributors p {
    font-size: 1rem;
    color: #999;
    margin-top: 10px;
    text-align: center;
  }
  

  
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px;
  }
  
  .photo-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .photo-card img {
    width: 1000px;
    height: 600px;
    display: block;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
  
  .pagination button {
    background-color: #e0e0e0;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
  
  .pagination button {
    background-color: #e0e0e0;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
  }

  .pagination button:hover {
    background-color: #b0b0b0;
  }
  
  .pagination span {
    font-size: 16px;
  }
  